 <div class="row">
    <div class="col-md-12 mt-5">
      <form [formGroup]="editStudent" (ngSubmit)="UpdateData()">
        <h3>Update-Student</h3>

          <legend><span class=""></span>Your Basic Info Update</legend>

          <label for="name">Name:</label>
          <input type="text" id="name" name="user_name" formControlName="name">

          <label for="email">Email:</label>
          <input type="email" id="mail" name="user_email" formControlName="email">

          <label for="password">Password:</label>
          <input type="password" id="password" name="user_password" formControlName="password">


        <button type="submit">Update</button>

      </form>
    </div>
  </div>

